<div class="container">
	<h1>User info</h1>

	<% if @user.errors.any? %>
	<h3><%= @user.errors.count %>errors prohibited this obj from being saved:</h3>
	<% @user.errors.full_messages.each do |message| %>
	<%= message %>
	<% end %>
	<% end %>

	<%= form_for(@user) do |f| %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :image %>
		<%= f.attachment_field :profile_image %>
	</div>
	<div class="field">
		<%= f.label :introduction %>
		<%= f.text_area :introduction %>
	</div>
	<div class="actions">
		<%= f.submit 'Update User' %>
	</div>
	<% end %>

</div>